body{margin:0;padding:0;font-size:12px;color:#364f56;background-color:#FFFFFF;}
img{border:0px;}
form{margin:0; padding:0;} 
input[type=text],input[type=password],textarea{border-top:1px solid #404040;border-left:1px solid #404040;border-right:1px solid #D4D0C8;border-bottom:1px solid #D4D0C8;}
input[type=text],input[type=password]{height:17px;}
input[type=text]:focus,input[type=password]:focus,textarea:focus{border:1px solid #000000;}
input[type=button],input[type=submit],input[type=reset]{padding:1px;font-size:12px;border:1px solid;border-color:#ddd #666 #666 #ddd;background:#DDD;color:#000;}
/*链接总的css定义*/
a{text-decoration:none;}
a:link{color:#364f56;}
a:visited{color:#333333;}
a:hover{color: #ae0927;}
a:active {color: #0000ff;}
/*菜单链接*/
a.channel:link {color:#ffffff;}
a.channel:visited {color:#ffffff;}
a.channel:hover{color:#ffff00;}
a.channel:active {color:#ffffff;}
/*菜单链接*/
a.normal{text-decoration:underline;}
.clear{clear:both;}
/*后台管理界面body体*/
.body-box{width:99%;margin:0px auto;margin-right:auto;}
/*后台左页body*/
.lbody{background:#F4F7FB;}
/*后台左页菜单*/
.lmenu{padding:0px;margin:10px 0px 0px 0px;list-style:none;}
.lmenu a{display:block;padding:7px 0px 7px 30px;; background:url(../image/circle.gif) no-repeat 15px -1px;}
.lmenu-focus{background-color:#DDECEF;}
/*后台左页树*/
.lttop{padding:10px 0px 2px 0px;text-align:center;}
/*后台右页头部*/
.rhead{border:#b4cfcf 1px solid;padding:5px 15px;margin-top:5px;}
/*后台右页当前位置*/
.rpos{float:left;padding:3px 0px 3px 20px;background:url(../image/arrow.gif) center left no-repeat;}
/*后台右页操作*/
.ropt{float:right;}

/*数据录入和修改样式*/
.pn-ftable{background-color:#B4CFCF;margin-top:5px;}
.pn-flabel{background-color:#F9FBFD;text-align:right;padding-right:3px;}
.pn-flabel-h{height:27px;}
.pn-fcontent{background-color:#FFFFFF;padding-left:5px;}
.pn-fbutton{background-color:#FFFFFF;text-align:center;}
.pn-fhelp{color:#747474;padding:3px 0px;}
.pn-frequired{color:red}
.pn-fruler{background:url(../image/ruler.gif) repeat-x 1px 6px;} 
/*数据列表样式*/
.pn-ltable{background-color:#E2EBEF;margin:5px auto 0px auto;}
.pn-lthead{}
.pn-lthead th{height:27px;background-image:url(../image/msg_bg.jpg);}
.pn-ltbody{background-color:#FFFFFF;}
.pn-ltbody tr{height:25px;}
/*数据列表鼠标经过样式*/
.pn-lhover{background-color:#F2F2F2;}
.pn-lselected{background-color:#d9e8fb;}
/*数据列表没有数据样式*/
.pn-lnoresult{padding:10px;border:#b4cfcf 1px solid;text-align:center;color:red;font-weight:bold;}
/*数据列表批量操作样式*/
.pn-lbopt{margin-top:2px;padding:5px;border:#b4cfcf 1px solid;}
/*数据列表操作链接样式*/
.pn-lopt{text-align:center;}
a.pn-loperator{text-decoration:underline;}
a.pn-loperator:link {color: #2366A8;}
a.pn-loperator:visited {color: #2366A8;}
a.pn-loperator:hover{color: #2366A8;}
a.pn-loperator:active {color: #2366A8;}
/*分页样式*/
.pn-sp{margin:3px auto 0px auto;padding:1px 0px;height:28px;background-image:url(../image/pbg.jpg);}
.pn-sp-left{float:left;padding-left:10px;width:24%}
.pn-sp-right{float:left;text-align:center;width:74%}
/*树的样式*/
.pn-tree{font-size:12px;}
.pn-tree *{word-break:keep-all;white-space:nowrap;}
.pn-tree img{vertical-align:middle;}
.pn-tree-hover{background-color:#F5F5F5;}
.pn-tree-selected{background-color:#DDECEF;}
.pn-tree-checkbox{vertical-align:middle;}

.w100{
	width:100px;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis; 
} 
.w150{
	width:150px;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis; 
} 
.w200{
	width:200px;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis; 
} 
.w250{
	width:250px;
	white-space:nowrap; 
	overflow:hidden;
	text-overflow:ellipsis; 
}
#bjDiv{
  width:100%;
  height:800;
  display:none;
  top:0px;
  left:0px;
  filter: Alpha(opacity=50);
  opacity:0.5; 
  background:#666666;
}